In [4]:
from matplotlib import pyplot
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from tensorflow.python import keras
from tensorflow.python.keras.models import Sequential, Model
from tensorflow.python.keras.layers import LSTM, Dense, Dropout, Activation
from numpy import array
from scipy.io import arff

In [5]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [6]:
# load data
dataset = arff.loadarff('EEG_Eye_State.arff')
df = pd.DataFrame(dataset[0])
print(df.shape)
df.head()

(14980, 15)

,AF3,F7,F3,FC5,T7,P7,O1,O2,P8,T8,FC6,F4,F8,AF4,eyeDetection
0,4329.23,4009.23,4289.23,4148.21,4350.26,4586.15,4096.92,4641.03,4222.05,4238.46,4211.28,4280.51,4635.90,4393.85,b'0'
1,4324.62,4004.62,4293.85,4148.72,4342.05,4586.67,4097.44,4638.97,4210.77,4226.67,4207.69,4279.49,4632.82,4384.10,b'0'
2,4327.69,4006.67,4295.38,4156.41,4336.92,4583.59,4096.92,4630.26,4207.69,4222.05,4206.67,4282.05,4628.72,4389.23,b'0'
3,4328.72,4011.79,4296.41,4155.90,4343.59,4582.56,4097.44,4630.77,4217.44,4235.38,4210.77,4287.69,4632.31,4396.41,b'0'
4,4326.15,4011.79,4292.31,4151.28,4347.69,4586.67,4095.90,4627.69,4210.77,4244.10,4212.82,4288.21,4632.82,4398.46,b'0'

In [7]:
#split dataset
values = df.values
inputs = values[:, :-1]
output = values[:, -1]

data_array = array(values)
input_array = array(inputs)
output_array = array(output)

#print(int.from_bytes(output_array[230], byteorder='little'))
#print(output_array[230])

for i in range(0,10784):
    if(output_array[i]==b'0'):
        output_array[i] = 0
    if(output_array[i]==b'1'):
        output_array[i] = 1       
#print(output_array[230])

In [8]:
df.describe()

,AF3,F7,F3,FC5,T7,P7,O1,O2,P8,T8,FC6,F4,F8,AF4
count,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000,14980.000000
mean,4321.917777,4009.767694,4264.022433,4164.946326,4341.741075,4644.022379,4110.400160,4616.056904,4218.826610,4231.316200,4202.456900,4279.232774,4615.205336,4416.435832
std,2492.072174,45.941672,44.428052,5216.404632,34.738821,2924.789537,4600.926543,29.292603,2136.408523,38.050903,37.785981,41.544312,1208.369958,5891.285043
min,1030.770000,2830.770000,1040.000000,2453.330000,2089.740000,2768.210000,2086.150000,4567.180000,1357.950000,1816.410000,3273.330000,2257.950000,86.666700,1366.150000
25%,4280.510000,3990.770000,4250.260000,4108.210000,4331.790000,4611.790000,4057.950000,4604.620000,4190.770000,4220.510000,4190.260000,4267.690000,4590.770000,4342.050000
50%,4294.360000,4005.640000,4262.560000,4120.510000,4338.970000,4617.950000,4070.260000,4613.330000,4199.490000,4229.230000,4200.510000,4276.920000,4603.080000,4354.870000
75%,4311.790000,4023.080000,4270.770000,4132.310000,4347.180000,4626.670000,4083.590000,4624.100000,4209.230000,4239.490000,4211.280000,4287.180000,4617.440000,4372.820000
max,309231.000000,7804.620000,6880.510000,642564.000000,6474.360000,362564.000000,567179.000000,7264.100000,265641.000000,6674.360000,6823.080000,7002.560000,152308.000000,715897.000000

In [9]:
# normalize features
#scaler = MinMaxScaler(feature_range=(0, 1))
#scaled = scaler.fit_transform(values)

# reshape data sample
data_samples = list()
length = 10
n = 10785
# step over the 10785 in jumps of 10
for i in range(0,n,length):
	# grab from i to i + 10
	data_sample = data_array[i:i+length]
	data_samples.append(data_sample)
print(len(data_samples))

data_array = array(data_samples)
print(data_array.shape)

data_array = array(data_samples)
print(data_array.shape)

data_array = data_array.reshape((len(data_samples), length, 15))

1079
(1079, 10, 15)
(1079, 10, 15)

In [10]:
# reshape input data sample
input_samples = list()
length = 10
n = 10785
# step over the 10785 in jumps of 10
for i in range(0,n,length):
	# grab from i to i + 10
	input_sample = input_array[i:i+length]
	input_samples.append(input_sample)
print(len(input_samples))

input_array = array(input_samples)
print(input_array.shape)

input_array = array(input_samples)
print(input_array.shape)

input_array = input_array.reshape((len(input_samples), length, 14))

1079
(1079, 10, 14)
(1079, 10, 14)

In [11]:
# reshape output data sample
output_samples = list()
length = 10
n = 10785
# step over the 10785 in jumps of 10
for i in range(0,n,length):
	# grab from i to i + 10
	output_sample = output_array[i:i+length]
	output_samples.append(output_sample)
print(len(output_samples))

output_array = array(output_samples)
print(output_array.shape)

output_array = array(output_samples)
print(output_array.shape)

output_array = output_array.reshape((len(output_samples), length, 1))

1079
(1079, 10)
(1079, 10)

In [12]:
#split data set

Train_inputs, Test_inputs, train_output, test_output = train_test_split(input_array, output_array, test_size=0.20, random_state=1,shuffle=False)
Train_inputs,valid_inputs,train_output,valid_output = train_test_split(Train_inputs, train_output, test_size=0.10, random_state=1)

print(Train_inputs.shape)
print(Test_inputs.shape)
print(train_output.shape)
print(test_output.shape)
print(valid_inputs.shape)
print(valid_output.shape)

#std_scale = preprocessing.StandardScaler().fit(Train_inputs)
#train_inputs = std_scale.transform(Train_inputs)
#test_inputs = std_scale.transform(Test_inputs)

#print(train_inputs.shape)
#print(test_inputs.shape)
#print(train_output.shape)
#print(test_output.shape)

(776, 10, 14)
(216, 10, 14)
(776, 10, 1)
(216, 10, 1)
(87, 10, 14)
(87, 10, 1)

In [14]:
train_inputs_tf = Train_inputs.reshape(776,10,14)
test_inputs_tf = Test_inputs.reshape(216,10,14)
train_output_tf = train_output.reshape(776,10,1)
test_output_tf = test_output.reshape(216,1,1)

batch_size = 1
training_split = 0.2
num_fields = 14

ValueError: cannot reshape array of size 2160 into shape (216,1,1)

In [216]:
model = Sequential()
model.add(LSTM(1024,return_sequences=True,implementation=2))
model.add(Dropout(0.5))
model.add(LSTM(1024,return_sequences=True,implementation=2))
model.add(Dropout(0.5))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='rmsprop', metrics=['accuracy'])

history = model.fit(train_inputs_tf, train_output_tf, epochs=20, batch_size= 128,verbose=1,validation_data=(test_inputs_tf, test_output_tf))

Train on 776 samples, validate on 216 samples
Epoch 1/20
776/776 [==============================] - 518s 667ms/step - loss: 1.5680 - acc: 0.5633 - val_loss: 0.7208 - val_acc: 0.1977
Epoch 2/20
776/776 [==============================] - 21s 27ms/step - loss: 0.6856 - acc: 0.5802 - val_loss: 0.6194 - val_acc: 0.7435
Epoch 3/20
776/776 [==============================] - 20s 26ms/step - loss: 0.6843 - acc: 0.5780 - val_loss: 0.8958 - val_acc: 0.1963
Epoch 4/20
776/776 [==============================] - 21s 27ms/step - loss: 0.6775 - acc: 0.6001 - val_loss: 1.1138 - val_acc: 0.1963
Epoch 5/20
776/776 [==============================] - 21s 26ms/step - loss: 0.6834 - acc: 0.6005 - val_loss: 1.0253 - val_acc: 0.1963
Epoch 6/20
776/776 [==============================] - 21s 27ms/step - loss: 0.6791 - acc: 0.6006 - val_loss: 0.6551 - val_acc: 0.8037
Epoch 7/20
776/776 [==============================] - 21s 27ms/step - loss: 0.6869 - acc: 0.5591 - val_loss: 0.8759 - val_acc: 0.1963
Epoch 8/20
776/776 [==============================] - 20s 26ms/step - loss: 0.6754 - acc: 0.6006 - val_loss: 0.7540 - val_acc: 0.1968
Epoch 9/20
776/776 [==============================] - 21s 27ms/step - loss: 0.6758 - acc: 0.6003 - val_loss: 0.8666 - val_acc: 0.1963
Epoch 10/20
776/776 [==============================] - 21s 27ms/step - loss: 0.6762 - acc: 0.6008 - val_loss: 0.7073 - val_acc: 0.2569
Epoch 11/20
776/776 [==============================] - 21s 27ms/step - loss: 0.6813 - acc: 0.5898 - val_loss: 0.8204 - val_acc: 0.1963
Epoch 12/20
776/776 [==============================] - 21s 27ms/step - loss: 0.6749 - acc: 0.6006 - val_loss: 0.7031 - val_acc: 0.3171
Epoch 13/20
776/776 [==============================] - 21s 27ms/step - loss: 0.6793 - acc: 0.5946 - val_loss: 0.7564 - val_acc: 0.1963
Epoch 14/20
776/776 [==============================] - 21s 27ms/step - loss: 0.6765 - acc: 0.6008 - val_loss: 0.8890 - val_acc: 0.1963
Epoch 15/20
776/776 [==============================] - 22s 28ms/step - loss: 0.6759 - acc: 0.6008 - val_loss: 0.8869 - val_acc: 0.1963
Epoch 16/20
776/776 [==============================] - 23s 29ms/step - loss: 0.6750 - acc: 0.6008 - val_loss: 0.7917 - val_acc: 0.1963
Epoch 17/20
776/776 [==============================] - 22s 28ms/step - loss: 0.6740 - acc: 0.6008 - val_loss: 0.8389 - val_acc: 0.1963
Epoch 18/20
776/776 [==============================] - 21s 28ms/step - loss: 0.6774 - acc: 0.5999 - val_loss: 1.0158 - val_acc: 0.1963
Epoch 19/20
776/776 [==============================] - 22s 28ms/step - loss: 0.6820 - acc: 0.6006 - val_loss: 0.7521 - val_acc: 0.1968
Epoch 20/20
776/776 [==============================] - 21s 28ms/step - loss: 0.6751 - acc: 0.6008 - val_loss: 0.7935 - val_acc: 0.1963